html body{
    color: black;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    height: 100%;
    font-size: 20px;
    margin: 0;
    background-color: #e3e3e3
}
.hidden{
    display: none!important;
    pointer-events: none;
}
.page-wrapper{
    min-height: 100vh;
    height: 100vh;
    overflow: auto;
    background-color: #e3e3e3;
}
.page{
    height: 100%;
    width: 100%;
    display: flex;
    vertical-align: top;
    overflow: hidden;
    position: relative;
}
.view {
    height: calc(100% - 25px);
    width: 100%;
    vertical-align: top;
    overflow: hidden;
    position: relative;
}
.view .sections{
    height: 100%;
    display: flex;
}
.view .section{
    padding-bottom: 0px;
    height: 100%;
    max-height: calc(100vh - 25px);
    font-size: 17px;
}
.view .section > .content {
    height: 100%;
    max-height: 100%;
    background-color: white;
    position: relative;
}
.page .section .section-title-bar {
    padding: 12px;
    height: 55px;
    font-weight: bold;
    font-size: 12px;
}
.page .section .section-title-bar > .add-button {
    position: absolute;
    right: 12px;
    top: 10px;
    zoom: 0.6;
}
/*Top heading */
.top-menu-bar{
    position: relative;
    width: 100%;
    padding: 5px;
    background-color: #d8d7d9;
    height: 25px;
    max-height: 25px;
    z-index: 100;
    font-size: 10px;
    color: #2e2e2e;
    border-bottom: 1px solid rgba(151,151,153,0.4);
}
.top-menu-bar a{
    font-weight: bold;
    cursor: pointer;
    color: #2e2e2e;
}
.left-side{
    float: left;
}
.right-side{
    float:right;
}
.bar-link{
    font-size: 11px;
    font-weight: bold;
    margin-left: 8px;
    color: #515263;
    z-index: 1000;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
/*workspaces section*/
.workspaces{
    flex: 1 10%;
    max-width: 180px;
    min-width: 100px;
}
.workspaces .section-title-bar{
    color: rgba(0,0,0,0.8);
}
.workspaces .scrollable {
    border-top: 1px solid rgba(0,0,0,.1);
    /*55px from the title bar height and 25px from the top bar height*/
    height: calc(100vh - (55px + 25px));
}
.workspaces .workspace{
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: rgba(0,0,0,.54);
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.14);
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.workspaces .workspace > *{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.workspaces .workspace:hover{
    background-color: #F5F5F5;
}
.workspaces .workspace .selected{
    background-color: #F5F5F5;
}
.workspaces .workspace .mdl-card{
    max-height:50px;
}
.workspaces .workspace > span{
    font-size: 10px;
}
.workspaces .workspace .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
.workspace-content .people-bar{
    width : 100%;
    max-height: 50px;
}

#messages-card-container , #messages-card{
    width:100%;
    height:calc(100vh - 200px);
}